/* /* Hiding the compare button at top */
li.item.link.compare,div.footer-ribbon,li.greet.welcome,div.product-reviews-summary.short,div.breadcrumbs,div.product-options-wrapper#product-options-wrapper,div#tab-label-reviews,.product-reviews-summary,div.product-info-stock-sku{
    display: none !important;
}
ul.header.links{
    /* Took header links to center */
    text-align: right !important;
    display: inline !important;
}
strong.logo,a.logo{margin: 5px 0 !important;}
.qs-option-name{
    background-color: white !important;
    color: black !important;
}
@media (min-width: 767px){

    #tagline-text{
	display: inline !important;
    }

    div.product-social-links{
        display: none !important;
    }

    button#product-addtocart-button{
        margin-bottom: 10% !important;
    }

    div.moved-add-to-links{
        margin-left: -20% !important;
    }

    div.product-add-form{
        position: absolute !important;
        right: 40% !important;
        text-align: center !important;
        top: 19% !important;
    }

    .sw-megamenu.navigation.side-megamenu li.level0.parent>a:after{
        content: '' !important;
    }

    ul.header.links{
        /* Took header links to center */
        margin-left: 10% !important;
    }
    
    /* Search Bar Made wide and adjusted Margin */
    div.block.block-search{
        margin-left: 10px !important;
        width: 810px !important;
    }

    span.tagline-text{
        margin-left: 25% !important;
    }

    /* Styling the Minicart */
    div.minicart-wrapper{
        background-color: white !important;
    }

    .page-header.type2.header-newskin .minicart-wrapper .action.showcart:before{
        color: #000 !important;
    }

}

@media (max-width: 766px){

#tagline-text{
display: none !important;
}
    
header.page-header.type2.header-newskin{
background-color: #002A66;
}

.top-social-icons{
    display: none !important;
}

}


/* div#store.menu{background-color: #424242 !important; color: #fff !important;} */

.footer-bottom address{
    float: none !important;
    text-align: center !important;
    font-size: medium !important;
}
div.footer-bottom div.container strong.logo,div.footer-bottom div.container a.logo{display: none !important;} 

/* .page-header.type2.header-newskin > .main-panel-top, .page-header.type2.header-newskin,div.panel.header{background-color: #002A66 !important;} */




div#preloader{
    position: fixed;
    z-index: 9000;
    left:0;right:0;top:0;bottom:0;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  div#preloader {
    background: #455a64;
  }
  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 2000px;
    transform: rotateX(-30deg) rotateY(-45deg);
  }
  .holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    transform: translate3d(0em, 3em, 1.5em);
  }
  .holder:last-child {
    transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
  }
  .holder:first-child {
    transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
  }
  .holder:nth-child(1) .box {
    background-color: #1FBCD3;
  }
  .holder:nth-child(1) .box:before {
    background-color: #126d7a;
  }
  .holder:nth-child(1) .box:after {
    background-color: #1894a7;
  }
  .holder:nth-child(2) .box {
    background-color: #CBE2B4;
  }
  .holder:nth-child(2) .box:before {
    background-color: #98c66a;
  }
  .holder:nth-child(2) .box:after {
    background-color: #b2d48f;
  }
  .holder:nth-child(3) .box {
    background-color: #F6B6CA;
  }
  .holder:nth-child(3) .box:before {
    background-color: #eb5b88;
  }
  .holder:nth-child(3) .box:after {
    background-color: #f089a9;
  }
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    animation: ani-box 6s infinite;
    width: 3em;
    height: 3em;
  }
  .box:before, .box:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
  }
  .box:before {
    left: 100%;
    bottom: 0;
    transform: rotateY(90deg);
    transform-origin: 0 50%;
  }
  .box:after {
    left: 0;
    bottom: 100%;
    transform: rotateX(90deg);
    transform-origin: 0 100%;
  }
  @keyframes ani-box {
    8.33% {
      transform: translate3d(-50%, -50%, 0) scaleZ(2);
    }
    16.7% {
      transform: translate3d(-50%, -50%, -3em) scaleZ(1);
    }
    25% {
      transform: translate3d(-50%, -100%, -3em) scaleY(2);
    }
    33.3% {
      transform: translate3d(-50%, -150%, -3em) scaleY(1);
    }
    41.7% {
      transform: translate3d(-100%, -150%, -3em) scaleX(2);
    }
    50% {
      transform: translate3d(-150%, -150%, -3em) scaleX(1);
    }
    58.3% {
      transform: translate3d(-150%, -150%, 0) scaleZ(2);
    }
    66.7% {
      transform: translate3d(-150%, -150%, 0) scaleZ(1);
    }
    75% {
      transform: translate3d(-150%, -100%, 0) scaleY(2);
    }
    83.3% {
      transform: translate3d(-150%, -50%, 0) scaleY(1);
    }
    91.7% {
      transform: translate3d(-100%, -50%, 0) scaleX(2);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) scaleX(1);
    }
  }
